<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <mat-nav-list>
      <!-- [routerLink]="document.title"  -->
      <a mat-list-item *ngFor="let document of documents" (click)="loadFile(document.file)">
        {{document.lesson}} - {{document.title}} </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Toggle Menu</button></p>
    <div [innerHTML]="selected"></div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <router-outlet></router-outlet> -->
