<div class="mat-app-background base-container">

  <div class="container">
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)=" snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>German Tips</h1>
      <span class="menu-spacer"></span>
      <div style="padding-top: 5px;">
        <!-- <a class="github-button" href="https://github.com/moaiware/german" data-icon="octicon-star" data-size="large"
          aria-label="Star moaiware/german on GitHub">Star</a>  -->
        <a class="github-button" href="https://github.com/moaiware" data-size="large"
          aria-label="Follow @moaiware on GitHub">@moaiware</a>
      </div>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="opened" fixedTopGap="56">
        <mat-nav-list>
          <div *ngFor="let chapter of chapters | keyvalue">

            <div [ngSwitch]="groupBy">
              <div *ngSwitchCase="groupTypes.topics">
                <a>Topic {{chapter.key}}</a>
              </div>
              <div *ngSwitchCase="groupTypes.chapters">
                <a>Chapter {{chapter.key}}</a>
              </div>
            </div>

            <a mat-list-item *ngFor="let lesson of chapter.value" (click)="loadFile(lesson.file)">
              {{lesson.lessonId}} - {{lesson.title}} </a>
          </div>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <div class="inner" [innerHTML]="selected"></div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
