/* You can add global styles to this file, and also import other style files */

@import "src/theme.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-inner-container {
  overflow-y: scroll !important;
}

//  Expansion panel properties
.mat-expansion-panel-body {
  padding: 4px !important;
}

mat-expansion-panel-header {
  background-color: gray;
}

.mat-expansion-indicator::after,
.mat-expansion-panel-header-description {
  color: white;
}

mat-expansion-panel-header {
  background-color: mat-color($primary) !important;
  border-radius: 4px;
  margin: 4px;
}

mat-panel-title {
  color: white !important;
  font-weight: bold;
}

// Duolingo extracted CSS

._3Fb9m {

  width: 90%;
  margin-left: auto;
  margin-right: auto;

  color: #4b4b4b;
  font-size: 17px;
  line-height: 24px;
  padding-top: 15px;
  word-break: break-word
}

._3Fb9m a {
  color: #1caff6
}

._3Fb9m h1,
._3Fb9m h2,
._3Fb9m h3,
._3Fb9m h4,
._3Fb9m h5,
._3Fb9m h6 {
  color: inherit;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 12px;
  text-transform: none
}

._3Fb9m h1 em,
._3Fb9m h2 em,
._3Fb9m h3 em,
._3Fb9m h4 em,
._3Fb9m h5 em,
._3Fb9m h6 em {
  font-style: inherit
}

._3Fb9m img {
  max-width: 100%
}

._3Fb9m table {
  margin: 24px 0;
  table-layout: fixed;
  width: 100%
}

._3Fb9m td,
._3Fb9m th {
  padding: 10px 12px
}

._3Fb9m td {
  border-bottom: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  border-top: 0;
  vertical-align: top
}

._3Fb9m td:first-child {
  border-left: 2px solid #e5e5e5
}

._3Fb9m th {
  background: #1caff6;
  color: #fff
}

._3Fb9m th:first-child {
  border-radius: 16px 0 0 0
}

._3Fb9m th:last-child {
  border-radius: 0 16px 0 0
}

._3Fb9m tr:last-child td:first-child {
  border-radius: 0 0 0 16px
}

._3Fb9m tr:last-child td:last-child {
  border-radius: 0 0 16px 0
}

._3Fb9m ul {
  list-style-type: disc;
  margin: 24px 0 24px 20px
}

._3Fb9m ul li:not(:last-child) {
  margin-bottom: 12px
}
